@import 'reset';
@import './../utils/variables.css';

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Manrope';
    src: url('./../../asset/font/Manrope/Manrope-ExtraLight.woff2') format('woff2'),
        url('./../../asset/font/Manrope/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anton';
    src: url('./../../asset/font/Anton/Anton-Regular.woff2') format('woff2'),
        url('./../../asset/font/Anton/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-size: 16px;
    font-family: 'Manrope';
    background-color: var(--backgroundColor);
    color: var(--textColor);
}