@import './../base/style.css';
@import './../layout/header.css';
main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main section {
  padding: 0px 40px;
}
main section:last-child {
  padding-bottom: 80px;
}
main .hero {
  background-image: url("./../../asset/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main .hero h1 {
  color: var(--accentColor);
  font-family: "Anton";
  font-size: 48px;
  text-align: center;
}
main .hero .search-bar form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 8px 8px;
  min-width: 50vw;
}
main .hero .search-bar form input[name=search] {
  flex: 1;
  padding: 0px 16px;
}
main .hero .search-bar form #search-submit {
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--textColor);
  min-width: 42px;
  min-height: 42px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}
main .hero .search-bar form #search-submit::after {
  content: "";
  background-image: url("./../../asset/svg/loop.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
}
main .hero .search-bar form #search-submit:hover {
  background-color: var(--accentColor);
}
main .hero .search-bar form #search-submit:hover::after {
  filter: invert(100%);
}
main .filter {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .filter .dropdown-filter {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
main .filter .dropdown-filter .dropdown {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}
main .filter .dropdown-filter .dropdown__title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  width: 100%;
  padding: 16px 16px;
  gap: 64px;
  z-index: 1;
}
main .filter .dropdown-filter .dropdown__title::after {
  content: "";
  background-image: url("./../../asset/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}
main .filter .dropdown-filter .dropdown__active {
  position: absolute;
  width: 100%;
  margin-top: -4px;
  background-color: #fff;
  z-index: 2;
  display: none;
  flex-direction: column;
  gap: 16px;
  border-radius: 0 0 8px 8px;
}
main .filter .dropdown-filter .dropdown__active .search-bar {
  padding: 8px 16px 0px 16px;
}
main .filter .dropdown-filter .dropdown__active .search-bar form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #C6C6C6;
  border-radius: 8px;
  padding: 4px 8px;
}
main .filter .dropdown-filter .dropdown__active .search-bar form input {
  width: 90%;
}
main .filter .dropdown-filter .dropdown__active .search-bar form .dropdown-search-submit {
  background-image: url("./../../asset/svg/loop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
  filter: invert(1);
}
main .filter .dropdown-filter .dropdown__suggest {
  max-height: 20vh;
  overflow-y: scroll;
}
main .filter .dropdown-filter .dropdown__suggest-item {
  cursor: pointer;
  text-transform: capitalize;
  padding: 8px 16px;
  transition: background-color 0.3s;
}
main .filter .dropdown-filter .dropdown__suggest-item:hover {
  background-color: var(--accentColor);
}
main .filter .recipes-number {
  font-family: "Anton";
}
main .recipes {
  max-width: 1440px;
  margin: auto;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
main .recipes .recipe {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
}
main .recipes .recipe__img {
  position: relative;
}
main .recipes .recipe__img img {
  max-height: 14rem;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
main .recipes .recipe__img::after {
  position: absolute;
  content: "10min";
  background-color: var(--accentColor);
  top: 0;
  right: 0;
  margin-top: 16px;
  margin-right: 24px;
  padding: 4px;
  border-radius: 8px;
  font-weight: 600;
}
main .recipes .recipe__content {
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .recipes .recipe__title {
  font-family: "Anton";
  font-size: 18px;
}
main .recipes .recipe__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .recipes .recipe__description h4 {
  text-transform: uppercase;
  color: #7A7A7A;
  font-size: 14px;
}
main .recipes .recipe__description p {
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
main .recipes .recipe__ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .recipes .recipe__ingredients h4 {
  text-transform: uppercase;
  color: #7A7A7A;
  font-size: 14px;
}
main .recipes .recipe__ingredients-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}
main .recipes .recipe__ingredient h5 {
  font-weight: 600;
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=index.css.map */